<%= error_messages_for 'cidade' %>

<!--[form:city]-->
<p><label for="cidade_nome">Nome</label><br/>
<%= hidden_field 'cidade', 'id'  %></p>
<%= text_field 'cidade', 'nome'  %></p>
<!--[eoform:city]-->

